langchain
langchain-google-genai
langchain-groq
langchain-huggingface
dotenv
streamlit
langchain-ollama
langchain-community
langgraph   
pypdf
langchain-docling
beautifulsoup4
langchain-text-splitters
sentence-transformers  
langchain-chroma
pydantic
